*{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(167, 0, 100);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    display: inline-block; width: 120px;
    margin: 2px;
}

.html, body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: space-around;
    background: rgb(103, 31, 74);
    border-radius: 10px;
    width: 420px;
    height: 450px;
}

.register input{
    width: 100%;
    font-size: 20px;
    border-radius: 10%;
    border: none;
    text-decoration: solid;
}

form{
    margin-top: 30px;
    line-height: 2.2;
}

input{
    border: none;
    height: 25px;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    height: 50px;
    width: 150px;
    margin: 5px;
}